@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lobster&family=Open+Sans:wght@400;500;600&display=swap');
*{
font-family: 'Lobster', sans-serif;
}
a{
   transition: 0.6s;
}
body{
   background-color: rgb(226, 170, 170);
   margin: 0;
   padding: 0;

}
html,
body{
   height: 100%;
}
.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.header1{
display: flex;
align-items: center;
position: sticky;
top: 0;
background: rgb(221, 176, 221);
height: 130px;
z-index: 5;
width: 100%;
}
header ul {
   display: flex;
   list-style-type: none;
}
.header_nav{
   justify-self: center;
   margin-left: 5px;
}
.header_nav a:hover{
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   box-shadow:2px 5px 10px violet ;
   text-shadow: 2px 5px 10px rgb(125, 117, 175);
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
}

header a{
   padding: 20px 10px;
   margin: 25px 25px 25px 25px;
   border-radius: 10px;
   color: slateblue;
}
header li{
   font-size: 35px;
}
header nav{
   margin-right: 10px;
   display: flex;
   list-style-type: none;
}
header nav img{
   height: 50px;
   width: 50px; 
}
.inst:hover{
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
   padding-bottom:5px ; 
   box-shadow: 2px 5px 10px violet ;
}
.facebook:hover{
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
   padding-bottom:5px ; 
   box-shadow: 2px 5px 10px violet ;

}
.tik-tok:hover{
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
   padding-bottom:5px ; 
   box-shadow: 2px 5px 10px rgb(238, 130, 238) ;

}
.logo{
   height: 150px;
   width: 180px;
}
.logo:hover{
   cursor: url('images/kursor.png'),pointer;
   
}
/*випадаюче меню */
.logo_user{
   height: 100px;
   width: 100px; 
  
}
.logo_user img{
   max-width: 100px;
   border-radius: 10px;
}
.logo_user img:hover{
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
   box-shadow: 2px 5px 10px violet;
}

/*основний контент*/
main{
   flex: 1;
}
.ff-1{
   height: 600px;
   width: 900px;
}
.first-pfoto{
   display: flex;
   align-items: center;
}
.first-pfoto h2{
   font-size:35px ;
   color:slateblue; 
   text-align: center;
}
.first-pfoto p{
   font-size: 20px; 
   text-align: justify;
   color:rgb(46, 94, 77) ;
}
.ff-text{
   border-top:2px solid rgb(46, 94, 77);
   border-bottom:2px solid rgb(46, 94, 77);
   padding-right: 20px;
}
.f-img{
   padding-right: 20px;
}
.second-pfoto{
   display: flex;
   align-items: center;
}
.sp-1{
   width: 900px;
   height: 600px;
}
.second-pfoto h2{
   font-size:35px ;
   color:slateblue; 
   text-align: center;
}
.second-pfoto p{
   font-size: 20px; 
   text-align: justify;
   color:rgb(46, 94, 77) ;
}
.s-img{
   padding-left: 20px;
}
.sp-text{
   border-top:2px solid rgb(46, 94, 77);
   border-bottom:2px solid rgb(46, 94, 77);
   padding-left:20px ;
}
.third-pfoto{
   display: flex;
   align-items: center;
}
.t-img img{
   width: 900px;
   height: 600px;
   padding-right: 20px;
}
.tf-text h2{
   font-size:35px ;
   color:slateblue; 
   text-align: center;
}
.tf-text p{
   font-size: 20px; 
   text-align: justify;
   color:rgb(46, 94, 77) ;
} 
.tf-text{
border-top:2px solid rgb(46, 94, 77);
border-bottom:2px solid rgb(46, 94, 77);
padding-right: 20px;
}
footer{ 
   background-color:rgb(221, 176, 221) ;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
footer ul{
   list-style-type: none;
   display: flex;
   justify-content: center;
}
footer h2{
   text-align: center;
   color:slateblue; 
}
footer a{
   text-align: center;
   padding: 10px;
   color:rgb(46, 94, 77) ;
}
footer q{
   display: flex;
   justify-content: center;
   color:rgb(46, 94, 77) ;
}
/*Історія готелю*/
.mainHistory{
   color:rgb(46, 94, 77);
   margin: 20px;
   text-align: center;
}
.historyblock1{
   display: flex;

}
.historyblock2{
   display: flex;
}
.historyblock3{
   display: flex;
}
.historyfirst{
   width: 50%;
}
.historysecond{
   width: 50%;
}
.historythird{
   width: 50%;
}
.historyfourth{
   width: 50%;
}.historyfifth{
   width: 50%;
}
.historysix{
   width: 50%;
}
.mainHistory img{
   width: 650px;
   height: 400px;
}
.mainHistory p{
   margin-left:  140px;
   margin-right: 140px;
   margin-top: 30px;
   text-align: justify;
}
/*слайдер про нас*/
.slider{
   width: 1000px;
   height: 700px;
   position: relative;
   overflow: hidden;
   margin: 10px;
}
.slider-img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.8s ease;
}
.slider-img.active{
   opacity: 1;
}
.slider img{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;
}
.slider .prev{
   left: 10px;
}
.slider .next{
   right: 10px;
}
.about_slider{
   display: flex;
   align-items: center;
   justify-content: center;
}
.controlls{
   border-radius: 50%;
   height: 35px;
   width: 20px;
}
.controlls:hover{
   background-color: slateblue;
   cursor:url('images/kursor.png'),pointer;
}

/* контент про нас*/
.about_main p{
   text-align: justify;
   font-size: 20px;
   color:rgb(46, 94, 77);
   padding: 20px;
}
.about_main h1{
   font-size:35px ;
   color:slateblue; 
   text-align: center;
}
/* Розваги*/
.enta{
   background: radial-gradient(circle, rgb(238, 130, 238) 34%, rgb(175, 170, 212) 85%);
}
.enta_title h1{ 
   color:slateblue;
   text-align: center;
}
.enta h1{
   color:#6a5acd;
}
.enta p{
   color:#2e5e4d;
   max-width: 60vh;
   text-align: justify;
}
.enta img{
   width: 60vh;
   height: 45vh;
}
.enta1{
   margin-left: 1%;
}
.enta2{
   margin-left: 15%;
}
.enta3{
   margin-left: 30%;
}
.enta4{
   margin-left: 45%;
}
.enta5{
   margin-left: 60%;
}
.enta6{
   margin-left: 70%;
}
.enta_description{
   text-align: center;
}
/*Основна сторінка*/
.greeting h1{
   text-align: center;
   color:slateblue; ;
}
.greeting_desc{
   
   display: flex;
   padding-right: 10px; 
   padding-left: 10px;
   color: rgb(46, 94, 77);
   text-align: justify;

}
.greeting_desc p{
   padding-right: 10px;
   font-size: 20px;
}
.greeting_desc img{
   border-radius: 20px 80px;
}
.greeting_poster_title{
   text-align: center;
   color: slateblue;
}
.greeting_poster_all {
   display: flex;
   justify-content: center;
}
.greeting_poster_all img{
   width: 320px;
   height:420px ;
}
.greeting_poster_all div{
   max-width: 320px;
   margin:10px 20px;

}
.greeting_poster_all h1{
color: slateblue;
text-align: center;
}
.greeting_poster_all p{
color:rgb(46, 94, 77);
text-align: justify;
font-size: 20px;
}
.action_all h1{
   color: slateblue;
text-align: center;
}
.action_all{
   background-image: url('images/main/bg2.jpg');
   background-size: cover;
   height: 1800px;
   width: 100%;
}
.greeting_poster_description h1{
   color: slateblue;
text-align: center;
}
.greeting_poster_all h2{
   
   text-align: center;

}
.greeting_poster_all a{
   border-radius: 10px;
   color: slateblue;
}
.greeting_poster_all a:hover{
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   box-shadow:2px 5px 10px violet ;
   text-shadow: 2px 5px 10px rgb(125, 117, 175);
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
   padding: 5px;

}
.loyal_program{
   display: flex;
   margin: 10px;
}
.loyal_program h1{
   color: slateblue;
   text-align: center;
}
.loyal_program_left p{
   width: 400px;
   padding-left: 40px;
   color:rgb(46, 94, 77); 
}
.loyal_program_left h2{
   color:slateblue ;
}
.loyal_program_left{
   width: 50%;

}
.loyal_program_left div{
   display: flex;
   padding-left: 100px;
}
.loyal_program_right{
   width: 50%;
}
.loyal_program_right p{
   color:rgb(46, 94, 77);
}
.loyal_program_right h2{
   
   text-align: center;
}
.loyal_program_right a{
   color: slateblue;
   text-decoration: underline;
   border-radius: 10px;
}
.loyal_program_right a:hover{
   text-decoration: none;
   border: 2px solid rgb(46, 94, 77);
   color: rgb(46, 94, 77);
   background-color:rgb(175, 170, 212) ;
   box-shadow:2px 5px 10px violet ;
   text-shadow: 2px 5px 10px rgb(125, 117, 175);
   cursor: url('images/kursor.png'),pointer;
   opacity: .2s;
   padding: 5px;
}
/*реєстрація*/
.main_reg{
   display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(to top left,rgb(125, 117, 175),violet);
}
.container{
   width: 800px;
   height: 500px;
   background-color: slateblue;
   position: relative;
   border-radius: 25px;
}
.block{
   height: 100%;
   padding: 40px 0;
   display: flex;
   align-items: center;
   border-radius: 25px;

}

.block-item{
   text-align: center;
   width: 50%;
}
.block-item__title{
   font-style: 1.2rem;
   font-weight: 500;
   color:rgb(46, 94, 77);
   margin-bottom: 10px;
   border-radius: 25px;

}
.block-item_btn{
   border: none;
   cursor: pointer;
   padding: 10px 20px;
   color:rgb(46, 94, 77);
   font-style: 16px; 
   font-weight: 500;
   border-radius: 25px;

}
.form-box{
   background-color: #fff;
   height: 100%;
   width: 50%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
   transition: 0.5s ease-in-out;
   display: flex;
   border-radius: 25px;
   align-items: center;
   overflow: hidden;

}
.form-box.active{
   left: 50%;
}
.form-box.active .form_signin{
   left: -100%;
}
.form-box.active .form_signup{
   left: 0;
}

.form{
   width: 100%;
   padding: 50px;
   font-size: 16px;
   position: absolute;
   transition: 0.5s;
}
.form_signin{
   left: 0;
}
.form_signup{
   left: 100%;
}
.form__title{
   font-size: 1.5rem;
   font-weight: 500;
   color:slateblue;
}
.form__input{
   width: 70%;
   padding: 10px;
   border: 2px solid violet;
   font-size: inherit;
   border-radius: 7px;
}
.form__btn{
   border: none;
   cursor: pointer;
   font-size: inherit;
   background-color:violet ;
   color: slateblue;
   padding: 10px 50px;
   border-radius: 7px;

}
.form__forgot{
   color:slateblue;
}
.form__btn_signup{
   background-color: rgb(46, 94, 77);
}
